/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  background-color: #fafafa;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
}
/* app */
.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
}
/* Tittle */
.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0 0 20px 0;
}
/* Form */
.form {
  margin: 0 0 20px 0;
}
/* Form label */
.form label {
  display: block;
  margin: 10px 0;
}
/* Form input */
.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
}
/* Form submit */
.form input[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #00bcd4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
/* playlist container */
.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 16px auto;
}
/* items inside playlist */
.playlist-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  border: 1px solid #eee;
  padding: 10px;
  margin: 4px auto;
}
/* playlist image */
.playlist-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
/* playlist content */
.playlist-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-shrink: 1;
  max-width: 72%;
}
/* playlist title */
.playlist-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}
/* playlist description */
.playlist-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
}
/* playlist actions */
.playlist-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
/* playlist action */
.playlist-action {
  text-align: center;
  border-radius: 6px;
  padding: 8px 16px;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  border: #eee 1px solid;
}
/* truncate text */
.text-truncate {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
